main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

section {
  padding-top: 1%;
}

p {
  padding-top: 2%;

}

img {
  height: 35%;
  width: 35%;
}

h2 {
  text-align: center;
  margin-top: 25%;
}

#gif {
  height: 35%;
  width: 35%;
}